<h3>
    <a href="/partes_de_cuerpo">partes_de_cuerpo</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="palabra_uno">palabra_uno</label>
    <input required id="palabra_uno" type="text" class="form-control" name="palabra_uno" size="30"/>
</div><div class="form-group">
    <label for="palabra_dos">palabra_dos</label>
    <input required id="palabra_dos" type="text" class="form-control" name="palabra_dos" size="30"/>
</div><div class="form-group">
    <label for="palabra_tres">palabra_tres</label>
    <input required id="palabra_tres" type="text" class="form-control" name="palabra_tres" size="30"/>
</div><div class="form-group">
    <label for="palabra_cuatro">palabra_cuatro</label>
    <input required id="palabra_cuatro" type="text" class="form-control" name="palabra_cuatro" size="30"/>
</div><div class="form-group">
    <label for="palabra_oto_uno">palabra_oto_uno</label>
    <input required id="palabra_oto_uno" type="text" class="form-control" name="palabra_oto_uno" size="30"/>
</div><div class="form-group">
    <label for="palabra_oto_dos">palabra_oto_dos</label>
    <input required id="palabra_oto_dos" type="text" class="form-control" name="palabra_oto_dos" size="30"/>
</div><div class="form-group">
    <label for="palabra_oto_tres">palabra_oto_tres</label>
    <input required id="palabra_oto_tres" type="text" class="form-control" name="palabra_oto_tres" size="30"/>
</div><div class="form-group">
    <label for="palabra_oto_cuatro">palabra_oto_cuatro</label>
    <input required id="palabra_oto_cuatro" type="text" class="form-control" name="palabra_oto_cuatro" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>