$def with(partes_de_cuerpo)
<h3>
    <a href="/partes_de_cuerpo">partes_de_cuerpo</a>
</h3>
palabra_uno: $partes_de_cuerpo.palabra_uno <br>
palabra_dos: $partes_de_cuerpo.palabra_dos <br>
palabra_tres: $partes_de_cuerpo.palabra_tres <br>
palabra_cuatro: $partes_de_cuerpo.palabra_cuatro <br>
palabra_oto_uno: $partes_de_cuerpo.palabra_oto_uno <br>
palabra_oto_dos: $partes_de_cuerpo.palabra_oto_dos <br>
palabra_oto_tres: $partes_de_cuerpo.palabra_oto_tres <br>
palabra_oto_cuatro: $partes_de_cuerpo.palabra_oto_cuatro <br>

<br>
<br>