$def with(torso, message)
<h3>
    <a href="/torso">torso</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
    <br>
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_palabra_torso" id="id_palabra_torso" value="$torso.id_palabra_torso" />

    <div class="form-group">
    <label for="palabra">palabra</label>
    <input required id="palabra" type="text" class="form-control" name="palabra" size="30" value="$torso.palabra"/>
</div><div class="form-group">
    <label for="traduccion">traduccion</label>
    <input required id="traduccion" type="text" class="form-control" name="traduccion" size="30" value="$torso.traduccion"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    </div>
</form>
<br>
<br>
<br>