$def with(cabeza)
<h3>
    <a href="/cabeza">cabeza</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>cabeza</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in cabeza:
        <tr>
            <td><a href='/cabeza/view/$item.id_palabra_cabeza'>$item.id_palabra_cabeza</a></td>
            <td><a href='/cabeza/edit/$item.id_palabra_cabeza'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/cabeza/delete/$item.id_palabra_cabeza'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>